<header>
  <div class="logo">
    <img src="../../assets/logo.png" alt="">
    <p>DEBTORS</p>
  </div>
  <nav>
    <a
      *ngIf="auth.isAuthenticated(); else loginBlock"
      href="#"
      (click)="logout($event)"
    >
      Выйти
    </a>

    <ng-template #loginBlock>
      <a
        href="#"
        (click)="openLoginPage($event)"
      >ВХОД</a>
      <strong>/</strong>
      <a
        href="#"
        (click)="openSignPage($event)"
      >РЕГИСТРАЦИЯ</a>
    </ng-template>
  </nav>
</header>

<router-outlet></router-outlet>
