<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../../assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    КОЛЛЕКТОР
  </a>

  <div>
    <a
      *ngIf="auth.isAuthenticated(); else loginBlock"
      href="#"
      (click)="logout($event)"
    >
      Выйти
    </a>
    <ng-template #loginBlock>
      <a
        href="#"
        (click)="openLoginPage($event)"
      >ВХОД</a>
      <strong>/</strong>
      <a
        href="#"
        (click)="openSignPage($event)"
      >РЕГИСТРАЦИЯ</a>
    </ng-template>
  </div>
</nav>


<router-outlet></router-outlet>
