<div
  class="modal fade show"
  id="exampleModal"
  style="display: block"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-modal="true"
  >
  <div class="modal-backdrop" (click)="close()"></div>
  <div class="container" role="document">
    <div class="row justify-content-center align-items-center col-md-12">
      <form class="col-md-10 mt-4 mb-4" novalidate>

        <app-dropdown-people-list (setPeopleId)="setPeople($event)"></app-dropdown-people-list>

        <app-create-people-form *ngIf="!people || peopleEdit"
                                (validForm)="validPeopleForm($event)"
                                [editablePerson]="people"
        ></app-create-people-form>

        <app-people-card *ngIf="people && !peopleEdit"
                         [people]="people"
                         (editPerson)="editPerson()"
                         (close)="removePeople()"
        ></app-people-card>

        <ng-container [formGroup]="createDebtorsForm">
          <div class="form-row validate-date" formGroupName="date">
            <div class="col-md-6 col-sm-6">
              <label>Дата начала</label>
              <input
                type="date"
                class="form-control"
                formControlName="dateStart"
              >
            </div>
            <div class="col-md-6 col-sm-6">
              <label>Дата возврата</label>
              <input
                type="date"
                class="form-control"
                formControlName="dateEnd"
              >
            </div>
            <div class="error-block col-md-12">
              <div
                *ngIf="createDebtorsForm.get('date').errors && createDebtorsForm.get('date').touched"
                class="alert-light pl-1 text-center"
              >
                <small *ngIf="createDebtorsForm.get('date').errors.inValidDate">
                  Дата возврата не может быть меньше даты начала.
                </small>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3 col-sm-6">
              <label for="amount" class="required-field validated">Сумма долга</label>
              <input id="amount" type="number" min="1" class="form-control" formControlName="amount">
            </div>

            <div class="col-md-2 mb-3 col-sm-6">
              <label for="currency">Валюта</label>
              <select id="currency" class="custom-select" formControlName="currency">
                <option *ngFor="let currency of currencyState" [ngValue]="currency">{{currency}}</option>
              </select>
            </div>

            <div class="col-md-6 mb-4 mt-4" style="display: flex; justify-content: space-between">
              <div class="btn-group btn-group-toggle col-md-12" data-toggle="buttons">
                <label
                  class="btn btn-outline-secondary"
                  [ngClass]="{'active' : this.createDebtorsForm.get('isI').value === 'false'}"
                >
                  <input type="radio" name="isI" id="option1" formControlName="isI" value="false"> Мне должны
                </label>

                <label
                  class="btn btn-outline-secondary"
                  [ngClass]="{'active' : this.createDebtorsForm.get('isI').value === 'true'}"
                >
                  <input type="radio" name="isI" id="option2" formControlName="isI" value="true"> Я должен
                </label>
              </div>

            </div>
          </div>
        </ng-container>


        <div class="form-row">
          <div class="col-md-6 ">
            <button class="btn btn-primary col-md-12" type="submit" (click)="submit()"
                    [disabled]="!(formValid || !!people && createDebtorsForm.valid) "
            >Добавить</button>
          </div>

          <div class="col-md-3 mt-md-0 mt-sm-2">
            <button class="btn btn-secondary col-md-12" type="submit" (click)="clear()">Очитсть</button>
          </div>

          <div class="col-md-3 mt-md-0 mt-sm-2">
            <button class="btn btn-danger col-md-12" type="submit" (click)="close()">Отменить</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
