<app-spinner *ngIf="peopleLoading$| async"></app-spinner>

<ng-container *ngIf="!(peopleLoading$ | async)">
  <ng-container *ngIf="peoples.length; else notPeople">
    <ng-container *ngFor="let people of peoples | searchPeople:searchPeopleService.search">
      <app-people-card [isList]="true" [people]="people"></app-people-card>
    </ng-container>
  </ng-container>


  <ng-template #notPeople>
    <div class="alert alert-primary" role="alert">
      Список пуст,
      <a (click)="showPopupCreatePeople($event)" class="alert-link">
        нажмите здесь для добавления
      </a>
    </div>
  </ng-template>
</ng-container>
