<div class="row mt-1">
  <div class="col-md-12 text-center">
    <h4>История долга</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mt-1">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Дата</th>
        <th scope="col">Сумма</th>
        <th scope="col">Валюта</th>
        <th scope="col">Статус</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let field of history; index as idx">
        <th scope="row">{{idx + 1}}</th>
        <td>{{field.date | date: 'yyyy-MM-dd'}}</td>
        <td>{{field.total}}</td>
        <td>{{field.currency}}</td>
        <td>{{field.status <= 1 ? 'взял' : 'вернул'}}</td>
        <td *ngIf="field.status !== 0">
          <i class="fas fa-trash-alt" (click)="removeHistoryField(field._id)"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
