.modal-backdrop{
  background: rgba(0,0,0, 0.53);
  z-index: 10;
}

form{
  z-index: 20;
  background: white;
}

.validate-date{
  &.ng-invalid.ng-touched {
    input{
      border: 1px solid rgba(139, 0, 0, 1);
    }
  }

  &.ng-valid.ng-touched {
    input{
      border: 1px solid green;
    }
  }

  input{
    box-shadow: none;
  }
}




.error-block{
  background-color: rgba(0,0,0, 0);
  height: 18px;
  margin-top: -5px;
  .alert-light {
    background-color: rgba(0,0,0,0);
  }
}













