<div class="dropdown mb-3">
  <div class="input-search" [ngClass]="{'input-search-prev': prevPeople && !isShowDropdown}" (click)="showDropdown()">

    <input type="text" class="form-control form-control-sm input-select" id="searchPeople" autocomplete="off"
           [(ngModel)]="searchPeopleService.searchStr"
           #searchPeople>

    <i class="fas fa-times"
       *ngIf="isShowDropdown"
       @control-btn></i>
    <i class="fas fa-chevron-down"
       *ngIf="!isShowDropdown"
       @control-btn></i>

    <ng-container *ngIf="prevPeople && !isShowDropdown" >
      <div class="prev-people">
          <div class="img-people">
            <img [src]="prevPeople.avatar || '../../../../../assets/images.png'" alt="">
          </div>
          <p class="people-title">{{prevPeople.name}} <span class="text-muted">({{prevPeople.email}})</span></p>
        <div class="control-buttons">
          <i class="fas fa-times" (click)="close.emit()"></i>
        </div>
      </div>
    </ng-container>

  </div>
  <div [ngClass]="{'modal-backdrop': isShowDropdown}" (click)="showDropdown()"></div>
  <div class="dropdown-menu show" *ngIf="isShowDropdown && peoples" @dropdown>
    <div class="dropdown-item col-md-12"
         *ngFor="let people of peoples| searchPeople:searchPeopleService.search"
         (click)="emitEditPerson(people)"
    >
      <div class="img-people">
        <img [src]="people.avatar || '../../../../../assets/images.png'" alt="">
      </div>
      <p class="people-title">{{people.name}} <span class="text-muted">({{people.email}})</span></p>
    </div>
  </div>
</div>
