<div class="card" [@card]="cardTrigger">
  <div class="row no-gutters">
    <div class="col-md-3">
      <img
        [src]="debtor.people.avatar ? debtor.people.avatar : '../../../assets/images.png'"
        class="card-img">

    </div>
    <div class="col-md-6">
      <div class="card-body" align="left">
        <h5 class="card-title" (click)="openDebtor(debtor._id)">{{debtor.people.name}}</h5>
        <p class="card-text">
          Номер телефона: {{debtor.people.tNumber}} <br>
          Email: {{debtor.people.email}}
        </p>
        <p class="card-text" [appExpiredDate]="debtor.dateEnd">
            Дата возврата: {{debtor.dateEnd | date:'dd MMM yyyy'}}
        </p>
      </div>
    </div>
    <div class="col-md-3 center">
      <p class="text-light text-block" *ngIf="debtor.isI">Вы должны</p>
      <p class="text-light text-block" *ngIf="!debtor.isI">Вам должны</p>
      <button type="button" class="btn btn-primary btn-padding"
              *ngIf="debtor.status === 1"
              (click)="editStatus(debtor._id,2)"
      >
        {{debtor.amount}} <span class="badge badge-light">{{debtor.currency}}</span>
      </button>
      <button type="button" class="btn btn-success btn-padding"
              *ngIf="debtor.status === 2"
              (click)="editStatus(debtor._id,1)">
        Вернули
      </button>
      <app-remove-btn-debtor className="mt-2" [id]="debtor._id" (remove)="debtorRemove(debtor._id)"></app-remove-btn-debtor>
      <app-edit-btn [debtor]="debtor" class="mt-2"></app-edit-btn>
    </div>
  </div>
</div>
