
a{
  font-weight: 600;
  color: #7f7f7f;
  text-decoration: none;

  &:hover{
    color: #7295ec;
  }
}

nav{

  strong{
    margin: 0 5px;
  }
}

.navbar{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}





