<div [formGroup]="peopleForm" @formAnimation>

  <ng-container>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <div
          class="label-file"
          [ngClass]="{invalidFile: !validFile}"
          align="center"
          (click)="fileInput.click()"
          appDragAndDrop
          [validFile]="validFile"
          (onFileDropped)="addPhoto($event)"
        >
          <div *ngIf="isPhotoAdd else img" class="addPhoto" [ngClass]="{error: !validFile}">
            <span *ngIf="validFile">Добавить фото</span>
            <span *ngIf="!validFile">Это не картинка</span>
          </div>
          <ng-template #img>
            <img id="avatar" [src]="filesName" alt="" #avatar>
          </ng-template>
        </div>
        <input
          type="file"
          class="form-control control-file"
          #fileInput
          (change)="addPhoto($event.target.files)">
      </div>
      <div class="col-md-8">
        <div class="mb-3">
          <div class="d-flex">
            <label for="name" class="required-field">Имя</label>
            <div class="error-block">
              <div
                *ngIf="peopleForm.get('name').errors && peopleForm.get('name').touched"
                class="alert-light pl-1"
              >
                <small *ngIf="peopleForm.get('name').errors.required">
                  Поле не может быть пустым
                </small>
                <small *ngIf="peopleForm.get('name').errors.minlength">Введите минимум 3 символа</small>
              </div>
            </div>
          </div>
          <input type="text" class="form-control validated" id="name"
                 formControlName="name">
        </div>
        <div class="mb-3">
          <div class="d-flex">
            <label for="email" class="required-field">Email</label>
            <div class="error-block">
              <div
                *ngIf="peopleForm.get('email').errors && peopleForm.get('email').touched"
                class="alert-light pl-1"
              >
                <small *ngIf="peopleForm.get('email').errors.required">
                  Поле не может быть пустым
                </small>
                <small *ngIf="peopleForm.get('email').errors.email">Введите корректный email</small>
              </div>
            </div>
          </div>
          <input type="text" class="form-control validated" id="email"
                 formControlName="email">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="address">Адрес</label>
        <input id="address"
               type="text"
               class="form-control"
               formControlName="address"
        >
      </div>
      <div class="col-md-6">
          <label for="tel">Телефон</label>
        <div class="input-group border-color validated" formGroupName="phone">
          <div class="input-group-prepend">
            <select class="custom-select number-code" formControlName="codePhone">
              <option *ngFor="let code of codePhone" [ngValue]="code">{{code}}</option>
            </select>
          </div>
          <input id="tel" type="text" class="form-control"
                 formControlName="tNumber"
                 appPhoneMask
                 [preValue]="peopleForm.get('phone').get('tNumber').value"
                 [phoneControl]="peopleForm.get('phone').get('tNumber')"
                 [phoneCode]="peopleForm.get('phone').get('codePhone').value"
          >
        </div>
        <div class="error-block">
          <div
            *ngIf="peopleForm.get('phone').get('tNumber').errors && peopleForm.get('phone').get('tNumber').touched"
            class="alert-light pl-1"
          >
            <small *ngIf="peopleForm.get('phone').get('tNumber').errors.noValidMask">
              Неверный формат: {{peopleForm.get('phone').get('tNumber').errors.noValidMask.mask}}
            </small>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
