<ng-container *ngIf="debtor">
  <div class="row">
    <div class="col-md-4">
      <img
        [src]="debtor.people.avatar ? debtor.people.avatar : '../../../assets/images.png'"
        class="card-img">
    </div>
    <div class="col-md-7">
      <h5 class="card-title">{{debtor.people.name}}</h5>
      <p class="card-text">
        Номер телефона: {{debtor.people.tNumber}} <br>
        Email: {{debtor.people.email}}<br>
        Адрес: {{debtor.people.address}}
      </p>
      <p class="card-text" [appExpiredDate]="debtor.dateEnd">
        Дата возврата: {{debtor.dateEnd | date:'dd MMM yyyy'}}
      </p>
      <div class="btn-block">
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" [disabled] ="debtor.status === 2" (mouseenter)="showDropDown()"
          >Внести
          </button>
          <div class="dropdown-menu show"
               *ngIf="isShowDropDown" (mouseleave)="showDropDown()" @dropDown>
            <a class="dropdown-item" (click)="editStatus(debtor._id, 2)">Внести все</a>
            <a class="dropdown-item" (click)="openInput($event)">Внести часть</a>
          </div>
        </div>
        <app-edit-btn class="ml-2" [debtor]="debtor" ></app-edit-btn>

        <app-remove-btn-debtor className="ml-2"
                               [id]="debtor._id"
                               (remove)="debtorRemove(debtor._id)"></app-remove-btn-debtor>
      </div>


    </div>
  </div>
  <hr class="mt-2">
  <app-table-history-debt [history]="debtor.history"
                          [debtId]="debtor._id"
                          (updateDebt)="getNewDebt()"></app-table-history-debt>
</ng-container>
