<div class="dropdown mb-3">
  <div class="input-search">
    <input type="text" class="form-control form-control-sm input-select" id="exampleInputEmail1"
           placeholder="Выбрать из списка..."
           aria-describedby="emailHelp" (focus)="showDropdown()">
    <i class="fas fa-times"
       *ngIf="isShowDropdown"
       (click)="showDropdown()"
       @opacity></i>
    <i class="fas fa-chevron-down"
       *ngIf="!isShowDropdown"
       (click)="showDropdown()" @opacity></i>
  </div>
  <div [ngClass]="{'modal-backdrop': isShowDropdown}" (click)="showDropdown()"></div>
  <div class="dropdown-menu" [ngClass]="{'show': isShowDropdown && peoples}">
    <div class="dropdown-item col-md-12"
         *ngFor="let people of peoples"
         (click)="emitPeopleId(people)"
    >
      <div class="img-people">
        <img [src]="people.avatar || '../../../../../assets/images.png'" alt="">
      </div>
      <p class="people-title">{{people.name}} <span class="text-muted">({{people.email}})</span></p>
    </div>
  </div>
</div>
