section{
  display: flex;
  flex-flow: column;
  margin: 0px;
  max-width: 700px;
}

img{
  width: 100%;
  height: 100%;
}

.btn{
  width: 108px;
}

.text-muted{
  text-align: center;
}

.transform{
  overflow: hidden;
  height: 40px;
  transition: all 0.5s;
}

.transform-search{
  height: 100px;
}

.flex-row{
  display: flex;
  justify-content: space-between;
}

.search{
  width: 100%;
}

.card-title{
  cursor: pointer;

  &:hover{
    color: #007bff;
  }
}

.remove-btn{
  position: relative;
  button{
    transition: bottom 0.5s;
  }
}

.edit-btn{
  cursor: pointer;
  color: #6c757d;
  &:hover{
    color: #007bff;
  }
}


