<app-spinner *ngIf="debtorsLoading$| async"></app-spinner>

<ng-container *ngIf="!(debtorsLoading$| async)">
  <ng-container *ngIf="debtors.length; else notDebtors">
    <ng-container *ngFor="let debtor of debtors | searchDebtors:searchService.search">
      <app-card-debtor [debtor] = debtor></app-card-debtor>
    </ng-container>
  </ng-container>

  <ng-template #notDebtors>
    <div class="alert alert-primary" role="alert">
      Список пуст,
      <a (click)="showModal($event)" class="alert-link">
        нажмите здесь для добавления
      </a>
    </div>
  </ng-template>
</ng-container>



