<div class="card mb-2 transform"
     [ngClass]="{'transform-search' : searchService.isSearch}"
     style="max-width: 700px;">
  <div class="flex-row">
    <ul class="nav ">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" (click)="closeSearch()" routerLink="/user-info">Инфо</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" (click)="closeSearch()" routerLink="/peoples">Люди</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/debtors">Долги</a>
      </li>

    </ul>
    <ul class="nav">

    </ul>
    <ul class="nav" [ngClass]="{'nav-close' : !(router.url === '/debtors')}">
      <li class="nav-item">
        <a class="nav-link"  (click)="modalShowService.showAsComponent()">
          <i class="fas fa-plus"></i>
          Добавить
        </a>
      </li>

      <li class="nav-item">
        <input class="form-control mr-sm-2 search"
               [(ngModel)]="searchService.searchStr" type="search"
               #input
               placeholder="Поиск..." aria-label="Поиск">
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openSearch($event)">
          <i class="fas fa-chevron-down" [ngClass]="{'rotate': searchService.isSearch }"></i>
        </a>
      </li>
    </ul>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 mt-2">
      <div class="btn-group btn-group-sm btn-group-toggle col-md-12" data-toggle="buttons">
        <label
          class="btn btn-outline-secondary"
          [ngClass]="{active: searchService.search.filter === 'all'}"
        >
          <input type="radio" name="isI" id="option1" value="all"

                 [(ngModel)]="searchService.searchFilter"> Все
        </label>
        <label
          class="btn btn-outline-secondary"
          [ngClass]="{active: searchService.search.filter === 'false'}"
        >
          <input type="radio" name="isI" id="option2" value="false"
                 [(ngModel)]="searchService.searchFilter">Мне должны
        </label>
        <label
          class="btn btn-outline-secondary"
          [ngClass]="{active: searchService.search.filter === 'true'}"
        >
          <input type="radio" name="isI" id="option3" value="true"
                 [(ngModel)]="searchService.searchFilter">Я должен
        </label>
      </div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>

