
a{
  font-weight: 600;
  color: #7f7f7f;
  text-decoration: none;
  cursor: pointer;
  &:hover{
    color: #7295ec;
  }
}

nav{
  strong{
    margin: 0 5px;
  }
}

.navbar{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.transform{
  overflow: hidden;
  height: 42px;
  transition: all 0.5s;
}

.transform-search{
  height: 90px;
}

.flex-row{
  display: flex;
  justify-content: space-between;
}

.search{
  height: 100%;
  width: 100%;
  border-radius: 0;
  border: none;
  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  box-shadow: none;
  padding-right: 3px;
}

.active{
  color: #007bff;
}

a.disabled{
  cursor: pointer;
}

.right-bar{
  height: 100%;
  position: absolute;
  right: 0;
}

.btn-create{
  z-index: 100;
  font-size: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 80px;
  right: 80px;
  width: 60px;
  height: 60px;
  i{
    fill: #007bff;
    opacity: 0.5;
    transition: 0.5s;
    &:hover{
      opacity: 1;
      cursor: pointer;
    }
  }
}

.position{
  position: absolute;
  top: 0;
  right: 0;
}


.fa-chevron-down{
  transform: rotate(0deg);
  transition: transform 0.5s;
}

.rotate{
  transform: rotate(180deg);
}

.nav{
  opacity: 1;
  transition: opacity 0.3s;
}

.nav-close{
  opacity: 0;
}






