<div class="card mb-3 transform"
     [ngClass]="{'transform-search' : searchService.isSearch}"
     style="max-width: 700px;">
  <div class="flex-row">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" (click)="closeSearch()" routerLink="/user-info">Инфо</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" (click)="closeSearch()" routerLink="/peoples">Люди</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/debtors">Долги</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="openSearch($event)">Поиск</a>
      </li>
    </ul>
  </div>
  <hr>
  <div class="form-inline mt-2 ml-3 mr-3">
    <input class="form-control mr-sm-2 search"
           [(ngModel)]="searchService.searchStr" type="search"
           #input
           placeholder="Поиск..." aria-label="Поиск">
  </div>
  <div class="row">
    <div class="col-md-6 mt-3">
      <div class="btn-group btn-group-toggle col-md-12" data-toggle="buttons">
        <label
          class="btn btn-outline-primary"
          [ngClass]="{active: searchService.search.filter === 'all'}"
        >
          <input type="radio" name="isI" id="option1" value="all"

                 [(ngModel)]="searchService.searchFilter"> Все
        </label>
        <label
          class="btn btn-outline-primary"
          [ngClass]="{active: searchService.search.filter === 'false'}"
        >
          <input type="radio" name="isI" id="option2" value="false"
                 [(ngModel)]="searchService.searchFilter">Мне должны
        </label>
        <label
          class="btn btn-outline-primary"
          [ngClass]="{active: searchService.search.filter === 'true'}"
        >
          <input type="radio" name="isI" id="option3" value="true"
                 [(ngModel)]="searchService.searchFilter">Я должен
        </label>
      </div>
    </div>
  </div>
</div>

<a class="btn-create" routerLink="/debtors/create">
  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
       viewBox="0 0 512 512">
    <path d="M256,0C114.833,0,0,114.833,0,256s114.833,256,256,256s256-114.853,256-256S397.167,0,256,0z M256,472.341
			c-119.275,0-216.341-97.046-216.341-216.341S136.725,39.659,256,39.659S472.341,136.705,472.341,256S375.295,472.341,256,472.341z
			"/>
    <path d="M355.148,234.386H275.83v-79.318c0-10.946-8.864-19.83-19.83-19.83s-19.83,8.884-19.83,19.83v79.318h-79.318
			c-10.966,0-19.83,8.884-19.83,19.83s8.864,19.83,19.83,19.83h79.318v79.318c0,10.946,8.864,19.83,19.83,19.83
			s19.83-8.884,19.83-19.83v-79.318h79.318c10.966,0,19.83-8.884,19.83-19.83S366.114,234.386,355.148,234.386z"/>
  </svg>
</a>

<router-outlet></router-outlet>

